:root {
  --color-body-background: rgb(255, 229, 217);
  --color-text: rgb(69, 56, 60)
}

body {
  background-color: var(--color-body-background);
  color: var(--color-text);
  width: 100%;
}

.main-logo {
  display: block;
  margin: 0 auto;
  max-width: 25em
}