:root {
  --color-body-background: rgb(255, 229, 217);
  --color-text: rgb(69, 56, 60)
}

body {
  background-color: var(--color-body-background);
  color: var(--color-text);
}

.main-logo {
  display: block;
  margin: 0 auto;
  max-width: 25em
}

.sections {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20em;
  justify-content: center;
}

.section-indiv {
  text-align: center;
  padding: 1.5em 0;
}

.section-image {
  width: 5em
}